
@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css');


.imagenLogo{
  max-width: 100px;
}

body {
  background-image: url('../imagenes/marRecortada.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.login{
    background-color: rgba(252, 252, 252, 0.845);
    border-radius: 5%;
    margin-top:100px;
    width: 100%;       /* Para flexibilidad en pantallas pequeñas */
    max-width: 600px; /* Para que no se haga demasiado grande en pantallas grandes */
    min-height: 300px;
}

.form-group{
    margin-bottom: 20px;
    width: 100%;
}


.producto-item{
    margin: 10px 10px 10px 10px;
    border-radius: 5%;
    max-width: 250px;
}

.muestraProductos .row {
  gap: 20px; /* separa los items entre sí */
  padding-top: 0;
}

.dropdown-item{
  z-index: 20;
}


.titulo{
    text-align: center;
    position: fixed;
    margin: 0 auto;
    padding: 10px 0;
    top: 56px;    
    left: 0;
    right: 0;
    z-index: 10;
}
.containerPrincipal{
    position: relative;
    border-radius: 5px; 
    margin-top: 30px;
    padding-top: 0;
    overflow-y: scroll;
    max-height: 550px; /* o la altura que necesites */
}
/* Capa superior difuminada */
.containerGeneral::before {
  content: "";
  position: absolute;
  top: 0;               /* donde empieza el difuminado */
  left: 0;
  right: 0;
  height: 50px;           /* altura del difuminado */
  pointer-events: none;
  z-index: 10;
}

.banner{
  background-color: cadetblue;
  height: 150px;
}

/*.containerGeneral.producto{
  background-color: blue;
  margin-top: 80px;
  padding-top: 20px;
}*/

.Boton{
  margin-top: 30px;
}

.fotoProducto{
  width: 500px;
  margin-top: 20px 20;
}

.especificacionProducto{
  margin: 20px 10px 70px; /*top horizontal y bottom*/
}


/*uniquifier.montserrat-<> {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}*/


.registrarProducto{
  background-color: rgba(252, 252, 252, 0.5);
  margin-top: 90px;
  padding-bottom: 20px;
}

.tablaProductoForm{
  margin-top: 20px;
}

.th{
    text-align: left; 
    padding-right: 100px;
}

/*VISTA CARRITO*/
.resumen-pedido-card {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.resumen-pedido-card .price {
    font-size: 2em;
    font-weight: bold;
    color: #000;
    text-align: right;
}
.resumen-pedido-card .btn-comprar {
    background-color: #000;
    color: #fff;
    font-weight: bold;
    padding: 12px 0;
    border-radius: 5px;
    width: 100%;
    border: none;
}

.product-image-container {
    max-width: 100%; /* Asegura que la imagen no se desborde */
    height: auto;
    display: block;
    margin: 0 auto; /* Centra la imagen si es más pequeña que el contenedor */
}
.detalleProducto {
    padding: 20px;
}
.vendor-info {
    margin-top: 15px;
    color: #6c757d;
}
.option-selector {
    margin-top: 20px;
}

